html, body {
    background-color: #191414;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;

    overflow: hidden;
}

@media only screen and (max-width: 350px) {
    #app { width: 100% }
    
    #spotify-logo,
    #album-cover {
        display: none;
    }
}

@media only screen and (max-width: 650px) and (max-height: 150px) {
    #textual-song-info-wrapper {
        overflow: hidden;
        text-align: center;
        width: 100%;
        white-space: nowrap;
    }

    #textual-song-info {
        display: flex;
        flex-direction: row;
    }

    .scroll-horizontally {
        animation: scroll-horizontally 8s linear infinite;
    }

    @keyframes scroll-horizontally {
        0% { transform: translateX(100%) ;}
        100% { transform: translateX(-100%);}
    }
}

@media only screen and (max-height: 180px) {
    #album-cover { display: none; }
    #app { width: 100%; }
    #spotify-logo { display: none; }
    #album-cover { width: 70px; }  
    #textual-song-info a:not(:last-child):after { content: "\00a0-\00a0" }
}

@media only screen and (min-height: 180px) {
    #album-cover { width: 70px; }    
    
    #textual-song-info {
        display: flex;
        flex-direction: column;
    }

    #track-name { font-size: 18px; }
    #album-name { font-style: italic; }
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.start-hidden { display: none !important; } 

.center-of-page {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#app { 
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#spotify-logo {
    width: 100px;
    margin-bottom: 5px;
}

#textual-song-info a {
    color: white;
    text-decoration: none;
}

#textual-song-info a:hover {
    color: white;
    text-decoration: underline;
}

#track-info {
    display: flex;
    align-items: center;
}

#album-cover { margin-right: 8px; }

#artist-names,
#album-name,
#track-name {
    margin: 0px;
}

#track-name {
    font-weight: bold;
}

#progress-info {
    display: flex;
    flex-direction: column;
}

progress { 
    color: #1db954; 
    width: 100%;
    height: 7px;
    margin-right: 5px;
    border-radius: 30px;
}

progress::-webkit-progress-value,
progress::-moz-progress-bar { background-color: #1db954 !important; border-radius: 30px}

progress[value] { -webkit-appearance: none; background-color: #1db954; border-radius:30px}

progress[value]::-webkit-progress-bar { border-radius: 30px; }
progress[value]::-webkit-progress-value { background-color: #1db954; border-radius: 30px}

#spotify-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#spotify-controls button {
    background: none;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#spotify-controls button img {
    height: 14px;
}

#spotify-controls button img:hover {
    filter: brightness(80%);
}

#under-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}


#spotify-content-link {
    text-decoration: none;
    margin-top: auto;
    color:white;
    margin: 6px 0px 0px auto;
    padding: 6px 8px 6px 8px;
    border-radius: 30px;
    background-color: #1db954;
    display: flex;
    align-items:center;
}

#spotify-content-link:hover { background-color: #2a8d4d;}

#spotify-content-link img {
    width: 16px;
    margin-right: 4px;
}